/* Height 100% */
html, body {height: 100%;}
.bloco {min-height: 100%; padding-top: 90;}




/* LOGO */
.logo_text {font-size: 0; margin: 0;}
.logo_img {width: 80px;}

/* MENU */
.navbar ul a:hover {opacity: 0.9; color: orange;}
.navbar ul li a {  font-size: 1.5rem; color: rgb(224, 224, 224);}

/* Home 100% */
.home {background-image: url('../img/pizza1.jpg'); background-blend-mode: screen; background-color: rgba(37, 37, 35, 0.233); min-height: 100%; padding-top: 70; background-repeat: no-repeat; background-size:cover;}
.banner h2 {font-size: 2.5rem; font-weight: 600; text-transform: uppercase; padding-top: 3.5rem; color: whitesmoke;} 
.banner p {font-size: 1.2rem; line-height: 2rem; color: whitesmoke; font-family: Verdana, Geneva, Tahoma, sans-serif; }
.btn:hover, .btn-large:hover, .btn-small:hover {background-color: rgb(49, 42, 30);}
.btn, .btn-large, .btn-small {background-color: rgb(2, 141, 48);}

/* CARDAPIO */
.cardapio {min-height: 100%; padding-top: 70; background-repeat: no-repeat; background-size:cover;}
.cards {padding-top: 5rem;}
.cards img {height: 210px;}
.cards .card {height: 470px;}

/* SOBRE */
.sobre { min-height: 100%; padding-top: 70; background-repeat: no-repeat; background-size:cover;}
.sobre h2 {text-transform: uppercase; font-size: 4rem; color: rgb(49, 42, 30); }
.sobre h2::after {content: ''; display: block; width: 200px; border-top: 1.5px solid orange; margin:15px auto; }
.sobre p {line-height: 2rem; text-align: justify; font-size: 1.2rem; color: rgb(49, 42, 30);}

/* CONTATO */

.contatos { padding-top: 5rem; min-height: 100%; padding-top: 70; background-repeat: no-repeat; background-size:cover;}
.contatos .mapa {min-width: 300px;}
.contatos .mapa iframe {width: 100%; min-width: 300px; border: none;}
.contatos .formulario {background-color: whitesmoke;}
.contatos .formulario h3 {color: rgb(49, 42, 30);}
.contatos .formulario p {color: rgb(49, 42, 30);}

.contatos .rede {background-color: #ffa500;}
.contatos .rede h2 {font-family: Verdana;}
.contatos .rede p {font-size: 2rem; font-family: Verdana; color: white;}


/* FOOTER */
.page-footer {background-color: rgb(49, 42, 30);}
.blu-logo {background-color: rgb(49, 42, 30);}
.blu-logo::after {content: ''; display: block; width: 200px; border-top: 1.5px solid orange; margin:15px auto; }



/* CUSTON */
nav {
  color: #fff;
  background-color: rgb(49, 42, 30);
  width: 100%;
  height: 70px;
  line-height: 70px;
}
nav.nav-extended .nav-wrapper {
  min-height: 70px;
  height: auto;
}
nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 70px;
  line-height: 70px;
}
.navbar-fixed {
  position: absolute;
  height: 70px;
  z-index: 997;

}

.sidenav {background-color: whitesmoke;}
.sidenav li>a {color: white; font-weight: 0;}


@media only screen and (max-width: 480px) {
  .banner {padding-top: 2.0rem;}
  .sobre {padding-top: 3rem;}
  .banner h2 {font-size: 2.5rem;}
  .sobre h2 {font-size: 2.5rem;}
  .banner h2 {padding-top: 2rem;}
  }

@media only screen and (min-width: 601px) {
   .banner {padding-top: 2.5rem;}
   .sobre {padding-top: 3rem;}
   .banner h2 {font-size: 3rem;}
   .container {
    width: 90%;
  }
  }
  
  @media only screen and (min-width: 993px) {
   .banner {  padding-top: 4.0rem;}
   .sobre {padding-top: 3rem;}
   .banner p { font-size: 1.5rem;}
   .banner h2 {font-size: 5rem;}
   .container {
    width: 90%;
  }
  }

